[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pre-commit = "*"
flake8 = "*"
pytest-describe-it = "*"
pytest-html = "*"
pytest-sugar = "*"

[requires]
python_version = "3.7"

[scripts]
test = "pytest"
coverage = "pytest --cov-report term --cov='.' tests/"
watch = "ptw tests/ -- --cov-report term --cov='.' tests/"
